@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

header>p{
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(112, 112, 112);
    color: white;
}

section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.514);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}